<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warframe Faction selector</title>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/mkhelper_icons.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
</head>
<body>
    <h1>Choose a Faction</h1>
    <div class="form-container">
        <div id="progress">Progress: 0%</div>
        <form>
            <div class="col buttonsContainer">
                <button type="button" class="custom-button" onclick="updateTable()">Force Update Table</button>
                <div class="row">
                    <button type="button" class="custom-button" onclick="setFactions(['1','2','3'])">Suda-Arbi-Steel</button>
                    <button type="button" class="custom-button" onclick="setFactions(['4','5','6'])">New-Red-Perrin</button>
                </div>
            </div>
            <div class="custom-select-wrapper">
                <div class="custom-select">
                        <select title="All Factions" name="factionsDropdown" id="factionsDropdown" class="hasTextIcons form-control selectpicker" data-live-search="true" default="0" multiple>
                            <!-- <option id="factionOption_0" class="hasTextIcons" value="0">All</option> -->
                            {% for faction in factions %}
                                <option class="hasTextIcons" id="factionOption_{{ faction.id }}" value="{{ faction.id }}">&#xe80{{ faction.id-1 }};  {{ faction.name }}</option>
                            {% endfor %}
                        </select>
                        <br /><br />
                        <input type="hidden" name="factions" id="factions" />
                </div>
            </div>
            <div class="custom-select-wrapper">
                <div class="custom-select">
                    <select class="hasTextIcons" title="orderType" name="orderType" id="orderType">
                            <option value="demand">Demand</option>
                            <option value="price">Price</option>
                    </select>
                </div>
            </div>
            <button type="button" id="fetch-button" class="custom-button" onclick="startTask()">Fetch WFMarket</button>
        </form>
        <div class="cards-container" id="cards-container">
            {% for mod in mods %}
                {% set factionLogoSrc = "/static/faction_logos/" + mod.factionId|string + ".png" %}
                <div class="card" factionId="{{ mod.factionId }}">
                    <h2>{{mod.name}}</h2>
                    <div class="card-content">
                        <p><strong>Max Average Sold:</strong> {{mod.MaxAvgSold}} pl</p>
                        <p><strong>Online Avg Offer Price:</strong> {{mod.offerPrice}} pl</p>
                        <p><strong>Most Repeated Price:</strong> {{mod.mostRepeatedOffer}} pl</p>
                        <p><strong>Amount Sold 48Hs:</strong> {{mod.amount48}} units</p>
                        <p><strong>Amount Sold 90days:</strong> {{mod.amount90}} units</p>
                        <p><strong>Factions:</strong> {{mod.factionNames}}</p>
                        <p><strong>URL:</strong> <a rel="noopener" href="https://warframe.market/items/{{ mod.url_name }}" target="_blank">warframe.market</a></p>
                        <img class="faction_logo" src="{{ factionLogoSrc }}" alt="Faction Logo">
                        {% if mod.factionNames and ',' in mod.factionNames %}
                            <img class="faction_plus" src="/static/faction_logos/plus.png" alt="Faction Logo">
                        {% endif %}
                        <p class="greyed">{{mod.lastUpdated}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>
<script>
    // JavaScript to set default selected values
    document.getElementById('factions').value = ['0'];
    document.getElementById('factionsDropdown').value = ['0'];
  </script>
</html>
